.form-container {
  margin: 40px 0px 50px 0px;
}

.form-box {
  width: 100%;
  background-color: white;
}

.form-header {
  width: 100%;
  background-color: rgb(46,46,46);
  color: white;
  padding: 5px;
}
.form-content {
  padding: 15px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.priceInput {
  width: 160px
}

.imageUploadBox {
  height: 70%;
  border-radius: 20px;
  border: rgb(46,46,46) dashed 1px;
  cursor: pointer;
  color: lightgray;
  position: relative;
}
.imageUploadBox.image {
  border: none;
}
.submitBtn {
  float: right;
  height: 50px;
  border-radius: 5px;
}
h4.total {
  float: right;
}
h4.total span {
  font-weight: 300;
}

img {
  width: 100%;
  border-radius: 10px;
}
.deleteBtn {
  position: absolute;
  left: 47%;
  top: 90px;
  color: red;
}

.text-box {
  position: absolute;
  top: 45%;
  width: 100%;
}


