<div class="specials-container">
  <div class="row">
    <div class="col-3 offset-1 special-box text-center" (click)="postAdd(1)">
      <div class="icon">
        <mat-icon>timer</mat-icon>
      </div>
      <h5>Quick Special</h5>
      <h2><span class="subscript">R</span> 150 </h2>
      <small>per day</small>
      <br/>
      <br/>
      <p>
        This is for promoting a short special which will run for 24h or less.
      </p>
      <br/>
      <hr/>
      <ul class="features">
        <li>
          - Push Notification
        </li>
        <li>
          - Location Notification
        </li>
        <li>
          -
        </li>
        <li>
          -
        </li>
      </ul>
      <hr/>
      <div class="btn">
        LET'S TRY
      </div>
      <br/>
      <br/>
    </div>
    <div class="col-3 offset-1 special-box text-center" (click)="postAdd(2)">
      <div class="icon">
        <mat-icon>timer</mat-icon>
      </div>
      <h5>Week Special</h5>
      <h2><span class="subscript">R</span> 100 </h2>
      <small>per day</small>
      <br/>
      <br/>
      <p>
        This is for promoting a special for longer than 24 hours but shorter than 7 days.
      </p>
      <br/>
      <hr/>
      <ul class="features">
        <li>
          - First Day is Free
        </li>
        <li>
          - Push Notification Every 3rd Day
        </li>
        <li>
          -
        </li>
        <li>
          -
        </li>
      </ul>
      <hr/>
      <div class="btn">
        LET'S TRY
      </div>
      <br/>
      <br/>
    </div>
    <div class="col-3 offset-1 special-box text-center" (click)="postAdd(3)">
      <div class="icon">
        <mat-icon>timer</mat-icon>
      </div>
      <h5>Month Special</h5>
      <h2><span class="subscript">R</span> 70 </h2>
      <small>per day</small>
      <br/>
      <br/>
      <p>
        This is for promoting a special for more than a week but fewer than 28 days.
      </p>
      <br/>
      <hr/>
      <ul class="features">
        <li>
          - First 5 Days are Free.
        </li>
        <li>
          -
        </li>
        <li>
          -
        </li>
        <li>
          -
        </li>
      </ul>
      <hr/>
      <div class="btn">
        LET'S TRY
      </div>
      <br/>
      <br/>
    </div>
  </div>
</div>
