<div class="top-bar">
  <span class="search-icon">
    <mat-icon>search</mat-icon>
  </span>
  <input type="text" class="search" placeholder="Search">
</div>
<div class="row addContainer firstContainer">
  <div class="col-12 pageHeader">
    <div class="form-header">
      <h3>Advertisements</h3>
    </div>
  </div>
  <div class="col-5 addBox" (click)="newAdd()">
    <div class="addlayer">
      <h2 class="add-box-text text-center">
      <span>
        New Advertisement
      </span>
        <mat-icon>add_circle_outline</mat-icon>
      </h2>
    </div>
  </div>
  <br/>
</div>
<div class="row addContainer" *ngFor="let add of adds">
  <div class="col-5 addBox" [ngStyle]="{ 'background-image': 'url(' + fileHost + add.image + ')'}">
    <div class="addlayer">
      <h2 class="add-box-text text-center">
      <span>
        {{ add.title }}
      </span>
      </h2>
    </div>
    <br/>
  </div>
</div>
